/* 高さ 
　　幅 : 1400 */

/* global */
html {
  font-size: 100%; /* 1rem = 16px を明示的に指定 */
}

body {
  overflow-x: hidden; /* 横方向のはみ出し部分を隠す */
}

.hero_wrapper {
  width: 95%;
  max-width: 1900px; /* 必要に応じて */
  height: 100%; /* 画面の高さいっぱいに */
  margin: auto;
}

#header {
  max-width: 1900px;
  width: 100%;
  display: flex;
  padding: 0 5.71%;
  margin: 1.25rem auto;
  align-items: center;
  justify-content: space-between;
}
/* 子要素 */

.logo {
  width: 12.5rem;
  height: 2.125rem;
}

.hero_button {
  width: 23.43rem;
  height: 3.75rem;
  border-radius: 100px;
  border: 3px solid #a50319;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  /* float: right; */
  z-index: 3;
  transition: all 0.3s ease;
}

.button_letter {
  color: #a50319;
  font-family: "Noto Sans JP";
  /* font-style: oblique 10deg;　傾かない */
  font-weight: 700;
  letter-spacing: 0.2rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  display: inline-block; /* transformを要素に効かせるため */
  transform: skew(-10deg);
  white-space: nowrap; /* 改行を防ぐ */
  transition: all 0.3s ease;
}

.hero_button:hover {
  background: linear-gradient(to right, #a50319, #e8340c) border-box,
    #ffffff padding-box;
  background-clip: border-box, padding-box;
  color: #ffffff;
}

.button_letter:hover {
  color: #ffffff;
}

.fixed_button {
  position: fixed;
  z-index: 3;
  right: 0;
  bottom: 0;
  margin: 0 1vw 1vw 0;
}

.fixed_letter {
  align-items: center;
  justify-content: center;
  display: flex;
}

.fixed_right {
  width: 1.18rem;
}

.fixed_banzai_letter {
  color: #000;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 2rem;
  margin: 0 1rem 0 1rem;
}

.fixed_left {
  width: 1.18rem;
}

.fixed_green_button {
  display: flex;
  width: clamp(39.37rem, 40vw, 40.37rem);
  padding: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 999rem;
  background: linear-gradient(to bottom, #090 50%, #038a03 50%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}
.fixed_green_button:hover {
  opacity: 0.7;
}

.fixed_btn_letter {
  color: #fff;
  font-family: "Noto Sans JP";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3rem;
  text-decoration: none;
}



.hero_letter {
  font-family: "Noto Sans JP";
  font-size: clamp(1rem, 1.714vw, 2rem);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.225rem;
  z-index: 2;
}

.h_letter_0 {
  margin: 5vh 0 0 14.5vw;
}

.h_letter_1 {
  margin: 0 0 0 14.5vw;
}

.hero_block {
  width: 100%;
}

.hero_block_letter {
  background: #a50319;
  font-style: normal;
  line-height: normal;
  font-weight: 900;
  font-size: clamp(1rem, 1.714vw, 2rem);
  color: #ffffff;
  font-family: "Noto Sans JP";
  padding: 0.5rem;
  white-space: nowrap; /* 改行を防ぐ */
  display: inline-block;
  margin: 3vh 0 0 15.5vw;
}

.hero_main_p {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 900;
  background: linear-gradient(90deg, #a50319 0%, #e8340c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  margin-top: 4vh;
  line-height: normal;
}

.main_0 {
  background: linear-gradient(180deg, #a50319 0%, #e8340c 100%);
  font-size: clamp(2rem, 4vw, 2.825rem);
}

.main_0,
.main_1,
.main2,
.main_3 {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* ここまでが継承されないもの */
}

.main_1 {
  font-size: clamp(3rem, 5.14vw, 4.125rem);
}

.main_2 {
  font-size: clamp(3rem, 5.14vw, 4.125rem);
}

.main_3 {
  margin-left: 15vw;
  margin-top: 0;
  font-size: clamp(3rem, 5.14vw, 4.125rem);
}

.hero_background {
  width: 108%;
  opacity: 0.7;
  position: absolute;
  background-size: cover;
  top: 0;
  left: -8%;
  z-index: -1; /* 文字の後ろに配置 */
}
/* 1/29 13:27　画像の位置を絶対値表現ではなく相対表現に */
.hero_lady {
  width: 58.43%;
  min-width: 34rem;
  position: absolute;
  top: 15vh;
  right: 0;
  object-fit: cover; /* 画像をコンテナにフィットさせる */
  z-index: -1; /* 文字の後ろに配置 */
}
.hero_back {
  width: 100%;
  height: 100%;
}

.hero_images {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.hero_belt {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  z-index: 2;
  margin-top: 6vw;
  min-height: 22.25rem;
  max-height: 27rem;
}

.hero_three {
  position: relative;
  z-index: 2;
  display: flex; /* フレックスボックスを有効にする */
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
  flex-wrap: wrap; /* 幅が狭い場合に折り返す */
  box-sizing: border-box; /* パディングを含む計算 */
  width: 100%;
  flex-direction: column;
  left: 0;
  margin-top: 2vw;
}

.hack_text {
  width: 53.94vw;
  height: auto; /* アスペクト比を維持 */
  margin: 5px; /* 画像同士の間隔 */
  min-width: 45.31rem;
}

/* second_section */
.second_section {
  width: 100%;
  margin-top: 11vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.second_letter {
  align-items: center;
  justify-content: center;
  display: flex;
}

.banzai_right {
  width: 1.18rem;
}

.banzai_left {
  width: 1.18rem;
}

.banzai_letter {
  color: #000;
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-size: 2rem;
  margin: 0 1rem 0 1rem;
}

.green_button {
  display: flex;
  width: clamp(45.37rem, 50vw, 46.37rem);
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 999rem;
  background: linear-gradient(to bottom, #090 50%, #038a03 50%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}
.green_button:hover {
  opacity: 0.7;
}

.green_letter {
  color: #fff;
  font-family: "Noto Sans JP";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3rem;
  text-decoration: none; /* 下線を消す */
}

.second_main {
  background-color: #a50319;
  width: clamp(45.37rem, 50vw, 46.37rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
  padding: 2rem;
}

.main_border {
  position: absolute;
  align-items: flex-start;
  display: flex;
  flex-direction: initial;
  padding: 0;
  width: clamp(45.37rem, 50vw, 46.37rem);
  height: 26.73rem;
  border: 3px solid #a50319;
  transform: translate(0.5rem, -1.5rem);
}

.second_detail {
  justify-content: center;
  display: flex;
  gap: 2rem;
}

.second_main_letter {
  color: #fff;
  /* Drop Shadow/300 */
  font-family: "Noto Sans JP";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  white-space: nowrap;
  margin-bottom: 1.5rem;
}

.second_letter_0 {
  color: #fff;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2.5rem;
}

.second_letter_1 {
  color: #fff;
  font-family: "Noto Sans JP";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.detail_text span {
  font-weight: 600;
}

.s_img_1 {
  display: none;
}

.s_features {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.s_background {
  position: absolute;
  top: 114rem;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -2;
}
.s_backgrounds {
  display: none;
}

.features_title {
  margin-top: 6vw;
  position: relative;
  text-align: center;
}

.features_title p {
  margin: 0; /* ブラウザデフォルトの余白をリセット */
  position: absolute; /* 絶対配置 */
  left: 50%; /* 左端をコンテナ中央に */
  top: 0; /* 上端（必要に応じて調整可能） */
  transform: translateX(-50%); /* 左に自身の半分の幅を移動し中央に */
  width: 100%;
  white-space: nowrap; /* 改行を防ぐ（必要に応じて） */
}

.title_back {
  color: #f2eaeb;
  font-family: "Noto Sans JP";
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.title_front {
  color: #000;
  font-family: "Noto Sans JP";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 2.8rem;
}

.title_front span {
  color: #e8340c;
  font-size: 4.5rem;
  font-weight: 800;
  font-family: "Sofia Sans Condensed", serif;
}

.features_title .title_front {
  top: 2rem;
}

.features_contents {
  margin-top: 14rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  position: relative;
}

.s_point {
  position: relative;
  display: flex;
  width: 47.44rem;
  height: 6.19rem;
  flex-shrink: 0;
  background: #f2eaeb;
}

.p_letter {
  color: #fff;
  font-family: "Noto Sans JP";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.p_circle {
  width: 7.5rem;
  height: 7.5rem;
  flex-shrink: 0;
  background: linear-gradient(180deg, #a50319 0%, #e8340c 100%);
  border-radius: 999%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 2.5rem 1.25rem 2.5rem;
  position: relative;
  top: -2.4rem;
}

.p_num {
  color: #fff;
  font-family: "Akshar", serif;
  font-size: 2.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.356rem;
}

.p_contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  top: -2rem;
}

.p_title {
  color: #000;
  font-family: "Noto Sans JP";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.p_detail {
  color: #000;
  font-family: "Noto Sans JP";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
  margin: 1.25rem 1.95rem 0 0;
}

.third_section {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: #fff;
}

.t_title {
  margin: 2rem 0 2rem 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 0.4rem;
  position: relative;
  z-index: 2;
}

.t_title_letter {
  color: #000;
  font-family: "Noto Sans JP";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.t_letter {
  color: #000;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.t_letter p {
  margin: 0;
  margin-bottom: 0.5rem;
}

.t_main {
  color: #000;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 2.5rem;
}

.t_main span {
  background: linear-gradient(90deg, #a50319 0%, #e8340c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* t_title とその他のコンテンツを前面に */
.t_title,
.t_letter,
.t_title_letter,
.t_img,
.t_main {
  position: relative;
  z-index: 2;
}

.triangle {
  width: 100%;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 19vw solid #e5e5e5;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.forth_section {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 縦方向の中央揃え */
  align-items: center; /* 横方向の中央揃え */
  text-align: center;
  position: relative;
}

.f_title {
  margin-top: 1.1vw;
  position: relative;
  text-align: center;
  width: 100%;
}

.f_title p {
  margin: 0;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 100%;
  white-space: nowrap;
}

.f_title_back {
  color: #fff;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
}

.f_title_front {
  text-align: center;
  font-family: "DIN 2014";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 3.8rem;
}

.f_title_front span {
  color: #e8340c;
  font-size: 4.5rem;
}

.f_title .f_title_front {
  top: 1.5rem;
}

.f_contents {
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 47rem;
}

.f_contents_block {
  background: #000;
  display: flex;
  align-items: center; /* オプション: 要素同士の縦位置を揃える */
  gap: 0.5rem; /* オプション: 横の余白を調整 */
  padding: 1.15rem 2.5rem;
  margin: 0 0 2.5rem 0;
}

.f_contents_letter {
  color: #fff;
  font-family: "Noto Sans JP";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.f_contents_letter span {
  font-size: 1.7rem;
  font-weight: 1;
}

.f_detail {
  background: #fff;
  display: flex;
  align-items: center;
  gap: 1.63rem;
  padding: 2.13rem 2.5rem;
  margin-bottom: 2.3rem;
}

.f_example {
  color: #000;
  font-family: "Noto Sans JP";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1rem;
}

.f_result {
  color: #000;
  font-family: "Noto Sans JP";
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.f_result span {
  color: #e8340c;
}

.f_detail_letter {
  text-align: left;
}

.f_detail_img {
  display: block;
}

.f_background {
  position: absolute;
  z-index: -1;
  opacity: 0.7;
  width: 100%;
  min-height: 70rem;
}

.f_detail_img0 {
  display: none;
}
.sp_f_background {
  display: none;
}

.fifth_secion {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: #fff;
}

.fif_letter {
  color: #000;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 2.5rem;
}

.fif_main {
  margin: 2rem 0 0 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 0.4rem;
  position: relative;
  z-index: 2;
}

.fif_stick {
  width: 2.31rem;
}

.fif_main_letter {
  background: linear-gradient(90deg, #a50319 0%, #e8340c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Noto Sans JP";
  font-size: 3rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.fif_pay {
  color: #000;
  font-family: "Noto Sans JP";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.pc_fif_red {
  color: #e8340c;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.sp_fif_red {
  display: none;
}

.six_section {
  display: flex;
  position: relative;
}

.six_contents {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3.4rem;
  position: relative;
}

.six_block,
.six_block1 {
  background: #fff;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2);
  width: 21.8rem;
  height: 31.81rem;
  padding: 1.25rem 1.25rem;
  margin: 2.5rem 0 3.5rem 0;
  position: relative;
}

.six_title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0; /* 画像とテキストの間隔 */
  position: relative;
}

.six_title span {
  color: #e8340c;
}

.six_title_letter {
  text-align: center;
  color: #000;
  font-family: "Noto Sans JP";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.six_title_letter1 {
  text-align: center;
  color: #000;
  font-family: "Noto Sans JP";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 1.2rem;
}

.six_title_img {
  width: 2.1rem;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
}

.six_img {
  margin: 2.2rem 0.5rem 1.25rem 0.5rem;
  width: 95%;
}
.six_img1 {
  margin: 1.09rem 0.5rem 1.25rem 0.5rem;
  width: 95%;
}

.six_detail {
  color: #000;
  font-family: "Noto Sans JP";
  font-size: 1.15rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 1.3; /* 行間を1.5倍に設定 */
}

.six_detail span {
  color: #e8340c;
}

.six_background {
  position: absolute;
  z-index: -1;
  opacity: 0.7;
  width: 100%;
  min-height: 37.8rem;
  object-fit: cover;
  bottom: 0;
  left: 0;
}

.sp_six_background {
  display: none;
}

.fixed_circle {
  width: 5.25rem;
  height: 5.25rem;
  background-color: #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2; /* 他のコンテンツより上に表示 */
  position: absolute;
  left: 50%; /* 親要素の横幅中央に */
  transform: translateX(
    -50%
  ); /* 要素幅の半分だけ左へずらし、左右の余白を同じに */
  color: #fff;
  margin-top: -2.6rem;
}

.seven_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sev_letter {
  margin: 5rem 0 2.5rem 0;
  background: linear-gradient(90deg, #a50319 0%, #e8340c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 2rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.sp_sev_letter {
  display: none;
}
.seven_green_button {
  display: flex;
  width: clamp(45.37rem, 50vw, 46.37rem);
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 999rem;
  background: linear-gradient(to bottom, #090 50%, #038a03 50%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin-bottom: 2.6rem;
  transition: all 0.3s ease;
}

.seven_green_button:hover {
  opacity: 0.7;
}
.green_letter {
  color: #fff;
  font-family: "Noto Sans JP";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.3rem;
  text-decoration: none; /* 下線を消す */
}

.foot {
  background: #a50319;
  width: 100%;
  height: 18.75rem;
}

.foot_triangle {
  width: 50%;
  height: 0; /* 三角形の高さを設定 */
  border-left: 0 solid transparent;
  border-right: 12rem solid transparent;
  border-top: 18.875rem solid #e5e5e5;
  position: absolute;
  left: 0;
  z-index: 1;
}

.foot_img {
  z-index: 2;
}

.foot_logo {
  width: 8.75rem;
  height: 5.5rem;
  margin-left: 0rem;
}

.foot_contents {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 14.6rem;
}

.foot_main {
  color: #fff;
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.foot_details {
  color: #fff;
  font-family: "Noto Sans JP";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 200;
  line-height: 2;
}

.foot_company {
  display: flex;
  flex-direction: row;
  gap: 3.56rem;
}

.foot_adress {
  display: flex;
  flex-direction: row;
  gap: 4.44rem;
}

.foot_person {
  display: flex;
  flex-direction: row;
  gap: 4.44rem;
}

.foot_num {
  display: flex;
  flex-direction: row;
  gap: 2.68rem;
}

.foot_detail {
  display: flex;
  flex-direction: row;
  gap: 2.68rem;
}

.sp_foot_logo {
  display: none;
}

@media screen and (max-width: 768px) {
  .hero_button {
    display: none;
  }

  .logo {
    margin-top: 1.5%;
  }

  .fixed_button {
    position: fixed;
    z-index: 40;
    right: 0;
    bottom: 0;
    margin: 0 1vw 1vw 1vw;
    width: 100%;
  }
  .fixed_btn {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .fixed_letter {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .fixed_right,
  .fixed_left {
    width: 2.7%;
    height: auto;
  }
  
  .fixed_banzai_letter {
    font-size: clamp(1rem, 4vw, 2rem);
    margin: 0 3vw 0 3vw;
  }
  
  .fixed_green_button {
    display: flex;
    width: 90%;
    height: 11vw;
    padding: 2vw;
  }

  .fixed_green_button:hover {
    opacity: 0.7;
  }
  
  .fixed_btn_letter {
    font-size: clamp(1rem, 4.7vw, 2rem);
  }  

  .hero_letter {
    font-size: clamp(0.975rem, 2.514vw, 1.5rem);
  }

  .h_letter_0 {
    margin: 4vh 0 0 2vw;
  }

  .h_letter_1 {
    margin-left: 2vw;
  }

  .hero_block {
    max-width: 100%;
  }

  .hero_block_letter {
    margin: 2vh 0 0 3vw;
    font-size: clamp(1.005rem, 2.514vw, 1.5rem);
    padding: 0.4rem;
  }

  .hero_main_p {
    margin: 1vh 0 0 2vw;
  }

  .main_0 {
    font-size: clamp(1.435rem, 4.8vw, 3.125rem);
  }

  .main_1 {
    font-size: clamp(1.875rem, 7.14vw, 4.125rem);
  }

  .main_2 {
    font-size: clamp(1.875rem, 7.14vw, 4.125rem);
  }

  .main_3 {
    margin-left: 2vw;
    font-size: clamp(1.875rem, 7.14vw, 4.125rem);
  }

  .hero_background {
    top: 0;
    left: -9%;
  }

  .hero_lady {
    top: 24vh;
    min-width: 1rem;
  }

  .hero_belt {
    width: 100%;
    height: 50vw;
    max-height: 30.25rem;
    min-height: 9.68rem;
    margin-top: 6vw;
  }

  .hero_three {
    width: 100%;
    margin-top: 2vw;
    z-index: 2;
  }

  .hack_text {
    width: 95%;
    min-width: 1rem;
    height: auto;
    z-index: 1;
  }

  .second_section {
    margin-top: 13vw;
    width: 100%;
  }

  .banzai_right {
    width: 3.3%;
    height: auto;
  }

  .banzai_letter {
    font-size: clamp(1rem, 4.7vw, 2rem);
    margin: 0 3vw 0 3vw;
  }

  .banzai_left {
    width: 3.3%;
    height: auto;
  }

  .green_button {
    width: 90%;
    height: 13vw;
  }

  .green_letter {
    font-size: clamp(1rem, 4.7vw, 2rem);
  }

  .second_main {
    width: 95%;
    height: auto;
    padding: 5vw;
    box-sizing: border-box;
    position: relative;
  }

  .main_border {
    position: absolute;
    align-items: flex-start;
    display: flex;
    flex-direction: initial;
    padding: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #a50319;
    /* ずれを後々再調整してみて */
    transform: translate(1.3vw, -3.9vw);
    box-sizing: border-box; /* パディングを含んだサイズ計算 */
  }

  .second_main_letter {
    font-size: clamp(1.1rem, 5vw, 2.5rem);
    line-height: 1.2;
    margin: 0 0 2vw 0;
  }

  .second_detail {
    gap: 5vw;
  }

  .second_letter_0 {
    font-size: clamp(0.9rem, 2.56vw, 1.25rem);
    margin-bottom: 5vw;
  }

  .second_letter_1 {
    font-size: clamp(0.9rem, 2.56vw, 1.25rem);
  }

  .s_img_0 {
    width: 28vw;
  }

  .s_features {
    width: 95%;
  }
  .s_backgrounds {
    width: 130%;
    height: 110%;
    position: absolute;
    display: block;
    z-index: -2;
    block-size: cover;
    left: -25%;
  }

  .s_background {
    display: none;
  }

  .title_back {
    font-size: clamp(4rem, 13vw, 6rem);
  }

  .title_front span {
    font-size: clamp(3rem, 9.75vw, 4.5rem);
  }

  .title_front {
    font-size: clamp(1.5rem, 4.06vw, 2rem);
  }

  .features_title .title_front {
    top: 5vw;
  }

  .s_point {
    width: 100%;
  }

  .p_circle {
    min-width: 5.25rem;
    min-height: 5.25rem;
    width: 15.78vw;
    height: 15.78vw;
    margin: 0 5vw 3vw 5vw;
  }

  .p_letter {
    font-size: clamp(0.67rem, 3vw, 1.25rem);
  }

  .p_num {
    font-size: clamp(1.125rem, 5vw, 2.375rem);
  }

  .p_title {
    font-size: clamp(1.25rem, 4vw, 1.5rem);
  }

  .p_detail {
    font-size: clamp(0.9rem, 2.4vw, 1.25rem);
    /* font-size: clamp(1rem, 2.4vw, 1.25rem); */
  }

  .t_title {
    margin: 5vw 0 5vw 0;
    gap: 1vw;
  }

  .t_title_letter {
    font-size: clamp(1.5rem, 4.06vw, 2rem);
  }

  .t_img {
    width: 6.6%;
  }

  .t_letter {
    font-size: clamp(0.9rem, 3.2vw, 1.5rem);
  }

  .t_main {
    font-size: clamp(1.7rem, 4.06vw, 2rem);
  }

  .triangle {
    width: 100%;
    height: 0; /* 三角形の高さを設定 */
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 40vw solid #e5e5e5;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .f_title_back {
    font-size: clamp(4rem, 13vw, 6rem);
  }

  .f_title_front span {
    font-size: clamp(3rem, 9.75vw, 4.5rem);
  }

  .f_title_front {
    font-size: clamp(1.5rem, 4.06vw, 2rem);
  }

  .f_contents {
    width: 95%;
  }

  .f_contents_letter {
    font-size: clamp(0.9rem, 3.2vw, 1.5rem);
  }

  .f_contents_letter span {
    font-size: clamp(1.5rem, 4.06vw, 2rem);
  }

  .f_detail {
    flex-direction: column;
    align-items: center;
    padding: 5vw 4vw;
  }

  .f_exampl {
    order: 2;
  }

  .f_result {
    order: 3;
  }

  .f_detail_img0 {
    width: 100%;
    height: auto;
    display: block;
  }

  .f_detail_img {
    display: none;
  }

  .sp_f_background {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    display: block;
    max-height: 80rem;
  }

  .f_background {
    display: none;
  }

  .fif_letter {
    font-size: clamp(1rem, 4vw, 1.25rem);
    margin-top: 5vw;
  }

  .fif_main {
    font-size: clamp(1.5rem, 4.06vw, 2rem);
    margin-top: 2vw;
  }

  .fif_stick {
    width: 5vw;
    height: auto;
  }

  .fif_main_letter {
    font-size: clamp(1.2rem, 6.56vw, 3rem);
  }

  .fif_pay {
    font-size: clamp(0.95rem, 2vw, 1rem);
  }

  .sp_fif_red {
    font-size: clamp(1rem, 3vw, 1.25rem);
    color: #e8340c;
    text-align: center;
    font-family: "Noto Sans JP";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: block;
    margin: 6vw 4vw;
  }

  .pc_fif_red {
    display: none;
  }

  .six_section {
    position: relative;
  }

  .six_contents {
    gap: 5vw;
    flex-direction: column;
    align-items: center;
  }

  .six_block,
  .six_block1 {
    width: 90%;
    height: auto;
    padding: 4vw 4vw;
    margin: 2vw 0 3vw 0;
  }

  .six_block1 {
    margin-bottom: 14vw;
  }

  .six_detail {
    font-size: clamp(1rem, 3vw, 1.25rem);
  }

  .six_title_letter {
    font-size: clamp(1.5rem, 3.06vw, 2rem);
  }

  .six_background {
    display: none;
  }

  .sp_six_background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* 親要素に合わせて高さ100% */
    object-fit: cover;
    z-index: -1;
    opacity: 0.7;
  }
  .fixed_circle {
    width: 11.1vw;
    min-width: 4rem;
    height: 11.1vw;
    min-height: 4rem;
    background-color: #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2; /* 他のコンテンツより上に表示 */
    position: absolute;
    left: 50%; /* 親要素の横幅中央に */
    transform: translateX(
      -50%
    ); /* 要素幅の半分だけ左へずらし、左右の余白を同じに */
    color: #fff;
    margin-top: -6vw;
  }

  .sev_letter {
    display: none;
  }
  .sp_sev_letter {
    margin: 6rem 0 2.5rem 0;
    background: linear-gradient(90deg, #a50319 0%, #e8340c 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: "Noto Sans JP";
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    display: block;
    font-size: clamp(1.5rem, 4.06vw, 2rem);
  }

  .seven_green_button {
    width: 90%;
    height: 11vw;
  }

  .green_letter {
    font-size: clamp(1rem, 4.7vw, 2rem);
  }

  .foot {
    display: flex !important;
    flex-direction: column;
    text-align: center !important;
    height: auto;
    position: relative;
    overflow: hidden;
  }

  .foot_img,
  .foot_contents {
    width: 100%;
    text-align: center;
  }

  .foot_triangle {
    width: 100%;
    height: 100%; /* 三角形の高さを設定 */
    border-left: 50rem solid transparent;
    border-right: 0 solid transparent;
    border-top: 6.91rem solid #e5e5e5;
    position: absolute;
    left: 0;
    z-index: 0;
    rotate: 180deg;
  }

  .foot_img {
    display: none;
  }
  .sp_foot_img {
    display: block;
    z-index: 2;
  }

  .sp_foot_logo {
    display: block;
    text-align: left;
    width: 6.25rem;
    height: auto;
    margin: 2.125rem 0 1rem 1rem;
  }

  .foot_logo {
    display: none;
  }
  .foot_details {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .foot_main,
  .foot_company,
  .foot_adress,
  .foot_person,
  .foot_num,
  .foot_detail {
    display: flex;
    text-align: left;
  }

  .foot_contents {
    text-align: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .foot_main {
    display: flex;
    margin-top: 4vw;
    justify-content: center;
  }

  .foot_company {
    text-align: center;
    display: flex;
  }

  .foot_adress {
    display: flex;
  }

  .foot_person {
    display: flex;
  }

  .foot_num {
    display: flex;
  }

  .foot_detail {
    display: flex;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 14px; /* モバイルデバイスでは少し小さく */
  }

  body {
    overflow-x: hidden;
    width: 100%;
  }

  .logo {
    width: 45%;
    height: auto;
  }

  .hero_button {
    float: none;
    margin: 2rem auto 0;
    display: block;
    text-align: center;
  }

  .hero_button,
  .button_letter {
    display: none !important;
  }

  /* 見出しやテキストのサイズを小さく */
  .hero_letter {
    font-size: clamp(1.02rem, 3.514vw, 1.7rem);
    white-space: wrap; /* 改行を防ぐ */
  }

  .hero_block_letter {
    font-size: clamp(1.21rem, 3.514vw, 1.5rem);
    display: inline-block;
    margin: 1vh 0 0 3vw;
  }

  /* メイン文字を少し小さく */
  .hero_main {
    font-size: 1.87rem;
    white-space: nowrap; /* 改行を防ぐ */
  }

  .main_0,
  .main_1,
  .main_2 {
    font-size: 2rem;
  }

  .hero_images {
    overflow: hidden;
  }
  /* 女性画像の配置を自然な流れに */
  .hero_lady {
    position: absolute; /* PCと同じ absolute を継続 */
    right: -7%; /* 右にはみ出す */
    min-width: 60%; /* 画面幅が小さいので少し幅を小さく調整（例） */
    top: 22vh; /* hero_main に合わせて上座標を微調整（例） */
    /* marginやdisplayなども適宜調整 */
    margin: 0; /* 不要な余白は削除 */
  }

  .hero_back {
    width: 100%;
    overflow: hidden;
  }

  .hero_background {
    position: absolute;
    width: 300%;
    height: auto;
    top: -8%;
    left: -50%;
  }

  .hero_belt {
    position: absolute;
    width: 100%;
  }

  .second_main {
    display: flex;
    justify-content: flex-start;
  }

  .second_detail {
    align-items: flex-start;
    flex-direction: column;
  }

  .second_main_letter {
    font-size: clamp(1rem, 5vw, 2rem);
  }

  .second_letter_0 {
    font-size: clamp(1rem, 2.5vw, 2rem);
  }

  .second_letter_1 {
    font-size: clamp(1rem, 2.5vw, 2rem);
  }

  .s_img_0 {
    display: none;
  }

  .s_img_1 {
    display: block;
    width: 100%;
    height: auto;
  }

  .s_features {
    width: 100%;
  }

  .title_back {
    font-size: clamp(3rem, 4vw, 4rem);
  }

  .features_contents {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 横方向の中央揃え */
    margin-top: 30vw;
    width: 100%;
    gap: 7vw;
  }

  .s_point {
    flex-direction: column; /* 子要素を縦並びに変更 */
    align-items: center; /* 両要素を中央揃えに */
    height: auto; /* 高さを自動調整 */
    background: none;
  }

  .p_circle {
    top: 0; /* 位置オフセットをリセット */
    margin: 0 auto 1rem auto; /* 上下に余白を付け、中央寄せ */
  }

  .p_contents {
    top: 0; /* 位置オフセットをリセット */
    width: 100%; /* 横幅いっぱいに広げる */
    text-align: center; /* テキストを中央揃え */
    margin: 0; /* 余白を必要に応じて調整 */
    align-items: center;
  }

  .p_detail {
    background: #f2eaeb;
    padding: 0.8rem 1rem;
    width: 100%;
    margin: 0;
  }

  .sp_six_background {
    display: block;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
    width: 100%;
    height: auto;
    min-height: 60.9rem;
    object-fit: cover;
    bottom: 0;
    left: 0;
    top: 0;
  }

  .six_block {
    margin-bottom: 1rem;
  }

  .fixed_circle {
    width: 3.65rem;
    height: 3.75rem;
    background-color: #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2; /* 他のコンテンツより上に表示 */
    position: absolute;
    left: 50%; /* 親要素の横幅中央に */
    transform: translateX(
      -50%
    ); /* 要素幅の半分だけ左へずらし、左右の余白を同じに */
    color: #fff;
    margin-top: -7vw;
  }

  .fixed_button {
    position: fixed;
    z-index: 3;
    left: 0;
    bottom: 0;
    margin: 0 1vw 1vw 1vw;
    max-width: 375px;
    width: 100%;
  }
}
